
body{
    background-image: url('../background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

button{
    background-color: white;
}

.landing-container{
    max-width: 400px;
    margin: 15% auto;
}
